// .btn--header_login {
//   width: 65px;
//   height: 16px;
//   @include font(22px, $font-sansbold, $standart--color__1, 400);
//   line-height: 24px;
//   text-transform: uppercase;
//   letter-spacing: 1.1px;
//   text-decoration: none;
//   background: url("../img/Login.svg") no-repeat 100%;
//   width: 115px;
//   height: auto;
//   display: inline-block;
// }

// .btn--liveChat {
//     width: 65px;
//     height: 16px;
//     @include font(22px, $font-sansbold, $standart--color__1, 400);
//     line-height: 24px;
//     text-transform: uppercase;
//     letter-spacing: 1.1px;
//     text-decoration: none;
//     background: url("../img/Chat.svg") no-repeat 100%;
//     width: 162px;
//     height: auto;
//     display: inline-block;
//   }
.btn_search {
    width: auto;
    height: 28px;
    background-color: $btn--color-primary_2;
    @include font(15px, $font-sansbold, $font--color-primary_2, 400);
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    text-align: center;
    margin-left: 8%;
    margin-top: 7px;
}
.btn_account {
  width: 163px;
  height: 35px;
  border: 2px solid #a6daff;
  float: right;
  background-color: $btn--color-primary_2;
  @include font(14px, $font-sansbold, $font--color-primary_2, 400);
  text-transform: uppercase;
  cursor: pointer;
}

.btn_account:hover {
    background-color: $btn--color-primary_5_hover;
}

.btn_login {
    margin-top: 7px;
    margin-right: 3px;
    border: 2px solid #a6daff;
    float: right;
    background-color: $btn--color-primary_2;
    @include font(14px, $font-sansbold, $font--color-primary_2, 400);
    text-transform: uppercase;
    cursor: pointer;
}

.btn_login:hover {
  background-color: $btn--color-primary_5_hover;
}

.btn_register {
  margin-top: 7px;
  border: 2px solid #a6daff;
  float: right;
  background-color: $btn--color-primary_2;
  @include font(14px, $font-sansbold, $font--color-primary_2, 400);
  text-transform: uppercase;
  cursor: pointer;
}

.btn_register:hover {
  background-color: $btn--color-primary_5_hover;
}

.btn_search:hover {
  background-color: $btn--color-primary_5_hover;
}

.btn_reset {
  width: auto;
  height: 28px;
  text-align: center;
  background-color: $btn--color-primary_2;
  @include font(15px, $font-sansbold, $font--color-primary_2, 400);
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  border: 0px;
  margin-top: 7px;
}
@media screen and (max-width: 1200px) {
  .btn_account {
    font-size: 10px;
    height: 25px;
    width: 120px;
  }
  .btn_search {
    font-size: 12px;
  }
  .btn_reset {
    font-size: 12px;
  }
  .btn_login {
    margin-top: 4px;
    font-size: 12px;
  }
  .btn_register {
    margin-top: 4px;
    font-size: 12px;
  }
}
@media screen and (max-width: 1200px) {
  .btn_search {
    margin-left: 7%;
    font-size: 10px;
  }
  .btn_reset {
    font-size: 10px;
  }
}
@media screen and (max-width: 770px) {
  .btn_search {
      width:102px;
  }
  .btn_reset {
      width: 92px;
  }
}

.btn_reset:hover {
  background-color: $btn--color-primary_5_hover;
}
.btn_buy-car {
  text-transform: uppercase;
  display: grid;
  text-align: center;
  cursor: pointer;
  width: 50%;
  height: 100px;
  border: 0px;
  font-family: $font-sansbold;
  color: $font--color-primary_2;
  background-color: $btn--color-primary_2;
}
.btn_buy-car:hover {
  background-color: $btn--color-primary_4_hover;
}
.btn_buy-car-image {
  margin: auto;
}
.btn_sell-car {
  text-transform: uppercase;
  display: grid;
  text-align: center;
  cursor: pointer;
  width: 50%;
  height: 100px;
  border: 0px;
  font-family: $font-sansbold;
  color: $font--color-primary_2;
  background-color: $btn--color-primary_2;
}
.btn_sell-car:hover {
  background-color: $btn--color-primary_4_hover;
}
.btn_sell-car-image {
  margin: auto;
}
.textMenu {
  text-align: center;
  @include font(20px, $font-sansbold, $font--color-primary_2, 400);

  text-transform: uppercase;
}
.btn_Edit {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 2rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
    text-decoration: none;
  }

  .btn_Reset {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 2rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    background-color:red;
    border-color: red;
    cursor: pointer;
    text-decoration: none;
  }
  .btn_Reset:hover {
    background-color: black;
    border-color: black;
    color: white;
  }
  .btn_Edit:hover {
    background-color: black;
    border-color: black;
    color: white;
  }
  .btn_Save {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 2rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    background-color: green;
    border-color: green;
    cursor: pointer;
    text-decoration: none;
  }
  .btn_Save:hover {
    background-color: black;
    border-color: black;
    color: white;
  }
  .btn_SignOut {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 2rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    background-color: green;
    border-color: green;
    cursor: pointer;
    text-decoration: none;
  }
  .btn_SignOut:hover {
    background-color: red;
    border-color: red;
    color: white;
  }