// Background colors
$bgc--color-primary_1: #f0f3f5;
$bgc--color-primary_2: #0f5b91;
$bgc--color-primary_3: #d3e0e9;
$bgc--color-primary_4: #333434;

$bgc--color-primary_5: #a4d8fd;

$bgc--color-primary_6: #2b2b2b;


// and repeat ...

// Text colors

$font--color-primary_1: #9a9a9a;
$font--color-primary_2: #ffffff;
$font--color-primary_3: #4298d5;
$font--color-primary_5: #d3e0e9;
$font--color-primary_4: #a7c9e2;

// Button colors

$btn--color-primary_1: #4298d5;
$btn--color-primary_2: #0f5b91;
$btn--color-primary_3: #333434;

// Button colors:hover

$btn--color-primary_1_hover: #d54242;
$btn--color-primary_2_hover: #0f9115;
$btn--color-primary_3_hover: #333434;
$btn--color-primary_4_hover: #1e71ab;
$btn--color-primary_5_hover: #4298d5;

// Standart collors
$standart--color__1: #fff;

//list car
$year--color: #ff4444;
$information--color: #4298d5;

