@import 'nprogress/nprogress'; 
@import 'views/portfolio';
@import '../../node_modules/bootstrap/dist/css/bootstrap-grid.css';

@import 'variables';

@import 'fonts';

@import 'mixins';
@import 'settings';
@import 'buttons';


@import 'views/header';
@import 'views/footer';



@import 'views/main_home';
@import 'views/about';