@import 'views/_portfolio.scss';
@import 'views/bootstrap/scss/_bootstrap-grid.scss';

@import '_variables.scss';

@import 'fonts';

@import '_mixins.scss';
@import '_settings.scss';
@import '_buttons.scss';


@import 'views/_header.scss';
@import 'views/_footer.scss';



@import 'views/_main_home.scss';
@import 'views/_about.scss';
@import 'views/_registration.scss';

.register {
}
