.about {
  display: inline-block;
  background-color: $bgc--color-primary_2;
  text-align: justify;
  

  h2 {
    color: $font--color-primary_2;
     @media screen and (max-width:992px) {
     @include font(
    20px,
    $font-sansbold,
    $font--color-primary_2,
    100
  );
  }
}
  .text {
     @include font(
    14px,
    $font-sansbold,
     $font--color-primary_4,
    100
  );
   
 @media screen and (max-width:992px) {
     @include font(
    10px,
    $font-sansbold,
     $font--color-primary_4,
    100
  );
   
 
}
  }
  .carImg {
    width: 100%;
    height: 100%;
    background-image: url("../../img/4-layers.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
