.information_block {
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
    padding: 5px;
    background-color: white;
    display: flex;
}

.image {
    vertical-align: top;
    width: auto;
    max-height: 370px;
}
.carName {
    @include font(40px,$font-sansextrabold_italic, $font--color-primary_3, 200);
    text-align: center;
}
.product-price {
    @include font(40px, $font-sansbold, $year--color, 200);
    margin: 10px 0;
    text-align: center;
}
.informationCar {
    align-items: center;
    margin-left: 20px;
    display: inline-grid;
}