@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;

}

/* Category Ads */

#ads {
    margin: 30px 0 30px 0;
   
}

#ads .card-notify-badge {
        position: absolute;
        left: -10px;
        top: -20px;
        background: $information--color;
        text-align: center;
        border-radius: 30px 30px 30px 30px; 
        color: $font--color-primary_2;
        padding: 5px 10px;
        font-size: 14px;

    }

#ads .card-notify-year {
        position: absolute;
        right: -10px;
        top: -20px;
        background: $year--color;
        border-radius: 50%;
        text-align: center;
        color: #fff;      
        font-size: 14px;      
        width: 50px;
        height: 50px;    
        padding: 15px 0 0 0;
}
.card-body {
    text-align: center;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 30px;
}
#ads .card-detail-badge {      
        background: $information--color;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: $font--color-primary_2;
        padding: 5px 10px;
        font-size: 14px;        
    }
#ads .card:hover {
            background: #fff;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
            border-radius: 4px;
            transition: all 0.3s ease;
        }
#ads .card-image-overlay {
        font-size: 20px;
        
    }
#ads .card-image-overlay span {
            display: inline-block;              
        }
    .img-fluid{
     width: 100%;
     height: 230px;
     max-height: 230px;
     object-fit: cover;
     object-position: 50% 0;
    }
    .listCar{
        margin:0;
        padding: 0px;
        padding-top: 10px;   
    }