<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarSale</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CarSale</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container-fluid top--part">
            <div class="container">
                <div class="col">
                    <div class="row">
                        <div class="col-xl-3 col-sm-12 col-md-3 wrapper">
                            <i class="fa  fa-phone photo fa-2x photo-phone"></i>
                            <span class="phone">
                                <p class="top-footer-font-1 first-p">SALES CONTACT</p>
                                <h4 class="top-footer-font-1">123 456 7890</h4>
                            </span>
                        </div>
                        <div class="col-xl-3 col-sm-12 col-md-3 wrapper">
                            <i class="fa fa-wrench photo fa-2x photo-wrench"></i>
                            <span>
                                <p class="top-footer-font-1">SERVICE CONTACT</p>
                                <h4 class="top-footer-font-1">123 456 7890</h4>
                            </span>
                        </div>
                        <div class="col-xl-3 col-sm-12 col-md-3 wrapper">
                            <i class="fa fa-cogs photo fa-2x photo-cogs"></i>
                            <span>
                                <p class="top-footer-font-1">PARTS CONTACT</p>
                                <h4 class="top-footer-font-1">123 456 7890</h4>
                            </span>
                        </div>
                        <div class="col-xl-3 col-sm-12 col-md-3 wrapper">
                            <i class="fa fa-check-square-o photo fa-2x photo-square"></i>
                            <span>
                                <p class="top-footer-font-1">ONLINE APPRAISAL</p>
                                <p class="p-schedule">Schedule online visit.</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bot--part">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 wrapper_b">
                        <p class="bot-footer-font-1 ">
                            Copyright © 2020 All rights reserved.
                        </p>
                    </div>
                    <div class="col-md-4 wrapper_b">
                        <p class="bot-footer-font-1 ">
                            <a href="#" class="bot-footer-font-1">Text & Conditons</a>
                            <a href="#" class="bot-footer-font-2">Privacy Policy </a>
                        </p>
                    </div>
                    <div class="col-md-4 wrapper_b">
                        <p class="bot-footer-font-1 ">
                            Follow Us :
                            <a href="#" class="bot-footer-font-1 fa fa-facebook-square photo-face fa-lg "></a>
                            <a href="#" class="bot-footer-font-1 fa fa-twitter-square photo-face fa-lg "></a>
                            <a href="#" class="bot-footer-font-1 fa fa-instagram photo-face fa-lg "></a>
                            <a href="#" class="bot-footer-font-1 fa fa-google-plus-square photo-face fa-lg "></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
